body {
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.jambo {
  margin: auto;
  margin-top: 130px;
}

.jamoHeader {
  text-align: center;
  color: #fff;
  font-size: 1.7em;
}

.form {
  /* background-image: url(image.jpeg);
  background-position: center center; */
  color: #fff;
  margin: auto;
  width: 50%;
  /* border: solid black; */
}

input {
  border-radius: 5px;
  width: 100%;
  height: 25px;
}

#form-table {
  font-size: 1.6em;
  width: 100%;
}

.search-button {
  margin: auto;
  margin-top: 20px;
  width: 20%;
}

.search {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* height: 70px; */
  margin: 4px 2px;
  cursor: pointer;
}
